<app-title-toolbar group="Piłka nożna" category="Bramki" (sort)="sortGoalgates($event)"></app-title-toolbar>
<mat-divider></mat-divider>
<div class="products-container">
  <mat-spinner class="loadingSpinner" *ngIf="isLoading"></mat-spinner>
  <mat-card class="item" *ngFor="let goalgate of sortedGoalgates" >
    <mat-card-header>
      <mat-card-title>
        <a [title]="goalgate.name + ' szczegóły'" [routerLink]="['/products', goalgate.productId]">
          {{goalgate.name}}
        </a>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{goalgate.imgUrl}}" alt="Obraz przedstawiający bramkę do piłki nożnej" />
    <mat-card-content>
      <p class="description">{{goalgate.shortDescription}}</p>
      <p class="price">{{goalgate.price}} zł</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="addToCart(goalgate)">Dodaj do koszyka</button>
    </mat-card-actions>
  </mat-card>
</div>
