/* You can add global styles to this file, and also import other style files */

* { box-sizing: border-box; }

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .title {
    justify-content: space-around;
    text-align: center;
    color: #f44336;
    box-shadow: 0 0 2px #000;

    h2 {
      font-style: italic;
    }
  }

  .sort-btn-container {
    margin-top: 2px;
  }

  .loadingSpinner {
    margin: 20px auto;
  }

  div.products-container {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-flow: row wrap;

    .item {
      width: 20%;
      min-width: 320px;
      margin: 20px;
      position: relative;

      img {
        padding: 30px;
        height: 300px;
      }

      a {
        text-decoration: none;
        color: #000;

        &:hover {
          color: #f44336;
        }
      }

      .description {
        text-align: justify;
        margin-bottom: 35px;
      }

      .price {
        text-align: right;
        color: #ff3535;
        font-weight: bold;
        letter-spacing: 1px;
        position: absolute;
        bottom: 15px;
        right: 15px;
      }

      .mat-card-actions {
        position: absolute;
        bottom: 15px;
        left: 15px;
      }
    }

    @media (max-width: 720px) {
      padding: 5px;
    }
  }
}

